// Core variables and mixins
@import "~bootstrap/less/variables";
@import "~bootstrap/less/mixins";
// Reset and dependencies
@import "~bootstrap/less/normalize";
//@import "~bootstrap/less/print";
//@import "~bootstrap/less/glyphicons";
// Core CSS
@import "~bootstrap/less/scaffolding";
@import "~bootstrap/less/type";
//@import "~bootstrap/less/grid";
//@import "~bootstrap/less/responsive-utilities";
@import "~bootstrap/less/forms";

.form-group .form-control {
  color: #000;
}

//input.ng-touched, textarea.ng-touched {
//  background: @alert-danger-text;
//}
//
//input.ng-valid, textarea.ng-valid {
//  background: @alert-success-text;
//}