<div class="comments-box">
    <div class="title">
        Comment Box
        <!--<button type="button" class="close" aria-hidden="true">&times;</button>-->
    </div>

    <form ng-submit="save(commentForm)" name="commentForm">
        {{ errors.common }}
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input
                        ng-model="newComment.title"
                        required
                        ng-focus="resetErrors()"
                        type="text"
                        class="form-control"
                        id="title"
                        name="title"
                        placeholder="Title">
                <div ng-show="commentForm.title.$error.required">Fill out this field</div>
                {{ errors.title }}
            </div>
        </div>
        <div class="form-group">
            <label for="text" class="col-sm-2 control-label">Text</label>
            <div class="col-sm-10">
                <textarea
                        ng-model="newComment.text"
                        required
                        ng-focus="resetErrors()"
                        class="form-control"
                        rows="3"
                        id="text"
                        name="text"
                        placeholder="Text"></textarea>
                <div ng-show="commentForm.text.$error.required">Fill out this field</div>
                {{ errors.text }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Send</button>
            </div>
        </div>
    </form>

    <label for="comments-order" class="col-sm-2 control-label">Order of comments</label>
    <select
            class="form-control"
            id="comments-order"
            ng-change="selectOrder()"
            data-ng-options="o.name for o in sortModes"
            data-ng-model="order"></select>

    <div class="actionBox">
        <ul class="list-unstyled" ng-repeat="comment in comments">
            <li class="comment">
                <header><b>#{{ comment.id }}</b> {{ comment.title }}</header>
                <div>{{ comment.text }}</div>
                <span class="date sub-text">{{ comment.created }}</span>
            </li>
        </ul>
    </div>
</div>

