@import '../../common/style/common';

.comments-box {
  width: 320px;
  border: 1px solid #bbb;
  border-radius: @border-radius-base;
  margin: 50px;
  padding: 10px;
  .title {
    background-color: @jumbotron-bg;
    padding: 10px;
  }
  .comment {
    padding: 10px;
  }
  .sub-text {
    color: #aaa;
    font-size: 11px;
  }
}